annotated-types
anyio
apturl
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
autobahn
Automat
awscli
Babel
base58
bcrypt
beautifulsoup4
bleach
blinker
boto3
botocore
Brlapi
cachetools
cbor
certifi
cffi
channels
channels_redis
chardet
charset-normalizer
chrome-gnome-shell
click
colorama
comm
command-not-found
constantly
cryptography
cupshelpers
Cython
daphne
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info
dj-database-url
Django
django-cors-headers
django-daraja
django-filter
django-mpesa
django-phonenumber-field
django-prometheus
djangorestframework
djangorestframework_simplejwt
docutils
drf-yasg
duplicity
ecdsa
exceptiongroup
executing
fasteners
fastjsonschema
filelock
flatbuffers
fqdn
future
google-api-python-client
google-auth
google-auth-httplib2
greenlet
gunicorn
h11
httpcore
httplib2
httpx
hyperlink
idna
importlib-metadata
incremental
inflection
iniconfig
ipykernel
ipython
ipython_genutils
ipywidgets
isoduration
jedi
jeepney
Jinja2
jmespath
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
lz4
macaroonbakery
Mako
MarkupSafe
matplotlib-inline
mistune
mnemonic
monotonic
more-itertools
msgpack
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook_shim
oauth2client
oauthlib
olefile
openai
overrides
packaging
pandocfilters
paramiko
parso
passlib
pexpect
phonenumbers
pillow
platformdirs
pluggy
ply
prometheus_client
prompt_toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
py-ubjson
pyasn1
pyasn1-modules
pycairo
pycparser
pycups
pydantic
pydantic_core
PyDrive
Pygments
PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
pypng
PyQRCode
pyRFC3339
pytest
pytest-django
python-apt
python-dateutil
python-debian
python-decouple
python-dotenv
python-json-logger
python-snappy
PyTrie
pytz
pyxdg
PyYAML
pyzmq
qrcode
qtconsole
QtPy
redis
referencing
reportlab
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
s3transfer
screen-resolution-extra
SecretStorage
Send2Trash
service-identity
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
ssh-import-id
stack-data
stripe
systemd-python
terminado
tinycss2
tomli
tornado
tqdm
traitlets
Twisted
txaio
types-python-dateutil
typing_extensions
u-msgpack-python
ubuntu-drivers-common
ubuntu-pro-client
ufw
ujson
unattended-upgrades
uri-template
uritemplate
urllib3
usb-creator
vboxapi
virtualenv
wadllib
wcwidth
webcolors
webencodings
websocket-client
whitenoise
widgetsnbextension
wsaccel
xdg
xkit
zipp
zope.interface
