annotated-types
anyio
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
autobahn
Automat
awscli
Babel
bcrypt
beautifulsoup4
bleach
boto3
botocore
certifi
cffi
channels
channels_redis
cryptography
daphne
django-cors-headers
django-filter
django-prometheus
djangorestframework
djangorestframework_simplejwt
drf-yasg
psycopg2-binary
redis
requests
stripe
whitenoise
python-dotenv
gunicorn